<<<<<<< HEAD
.content{
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    padding-top:100px;
=======
img{
    color: blue($color: #000000)
>>>>>>> 19b3e1391b605f4bc2747254b88ad32f93a2bb09
}