.content{
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    padding-top:100px;
    min-height: 100%;
}

.col{
    border: 2px solid #272727;
    float: left;
    height: 100px;

}
.pimg{
    border-radius: 70%;
}
.hello{
    background-color: red;
    margin-right: 40px;
}
.name{
    background-color: rgb(7, 112, 250);
}
.colnew{
    width: 100px;
}