.header {
    padding: 1rem 0 3rem;
    // background-color: #4ABDAC;
}

.title {
    color: #E7DFDD;
    font-size: 3rem;
    text-decoration: none;
}
// 
.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    float: right;
 
}

.nav-item {
  
    // color: #999999;
    font-size: 1rem;
    margin-right: 1.3rem;
    text-decoration: none;
    font-weight: bold;
}

.nav-item:hover {
    color: #FF652F;
}

.active-nav-item {
    color: #FF652F;
}